unpackaged/main/default/flows/New_Unit_Involved_on_Quote_Line.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Perform_Calculation_New_Rental</name>
        <label>Perform Calculation New Rental</label>
        <locationX>717</locationX>
        <locationY>1323</locationY>
        <assignmentItems>
            <assignToReference>QuoteNewMonthlyPayments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_New_Quote_Lines_Rental.Monthly_Amount_Calc__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteNewUnitCosts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_New_Quote_Lines_Rental.SBQQ__UnitCost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteNewUnitListPrice1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_New_Quote_Lines_Rental.List_Unit_Price_Option_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteNewUnitListPrice2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_New_Quote_Lines_Rental.List_Unit_Price_Option_2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteNewUnitListPrice3</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_New_Quote_Lines_Rental.List_Unit_Price_Option_3__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteNewUnitListPrice4</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_New_Quote_Lines_Rental.List_Unit_Price_Option_4__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteNewUnitListPrice5</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_New_Quote_Lines_Rental.List_Unit_Price_Option_5__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteNewUnitListPriceFinal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_New_Quote_Lines_Rental.SBQQ__ProratedListPrice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewUnitVendors</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewUnitQuoteLineRentalVendor</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_New_Quote_Lines_Rental</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Perform_Calculations_Infleet_Rental</name>
        <label>Perform Calculations - Infleet Rental</label>
        <locationX>202</locationX>
        <locationY>1329</locationY>
        <assignmentItems>
            <assignToReference>QuoteInfleetListPrice1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Infleet_Quote_Lines_Rental.List_Unit_Price_Option_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteInfleetListPrice2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Infleet_Quote_Lines_Rental.List_Unit_Price_Option_2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteInfleetListPrice3</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Infleet_Quote_Lines_Rental.List_Unit_Price_Option_3__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteInfleetListPrice4</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Infleet_Quote_Lines_Rental.List_Unit_Price_Option_4__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteInfleetListPrice5</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Infleet_Quote_Lines_Rental.List_Unit_Price_Option_5__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteInfleetListPriceFinal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Infleet_Quote_Lines_Rental.SBQQ__ListPrice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteInfleetMonthlyPayments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Infleet_Quote_Lines_Rental.Monthly_Amount_Calc__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteInfleetUnitCosts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Infleet_Quote_Lines_Rental.SBQQ__UnitCost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InfleetVendors</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InfleetQuoteLineRentalVendor</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Infleet_Quote_Lines_Rental</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Perform_Calculations_Infleet_Sale</name>
        <label>Perform Calculations Infleet Sale</label>
        <locationX>843</locationX>
        <locationY>1314</locationY>
        <assignmentItems>
            <assignToReference>QuoteInfleetSellingPrice</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Infleet_Quote_Lines_Sale.SBQQ__NetTotal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteInfleetUnitCostsSale</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Infleet_Quote_Lines_Sale.SBQQ__UnitCost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteSellingPrice1Infleet</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Infleet_Quote_Lines_Sale.Building_Selling_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteSellingPrice2Infleet</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Infleet_Quote_Lines_Sale.Building_Selling_Price_2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteSellingPrice3Infleet</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Infleet_Quote_Lines_Sale.Building_Selling_Price_3__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteSellingPrice4Infleet</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Infleet_Quote_Lines_Sale.Building_Selling_Price_4__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteSellingPrice5Infleet</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Infleet_Quote_Lines_Sale.Building_Selling_Price_5__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InfleetVendors</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InfleetQuoteLineSaleVendor</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Infleet_Quote_Lines_Sale</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Perform_Calculations_New_Sale</name>
        <label>Perform Calculations New Sale</label>
        <locationX>1360</locationX>
        <locationY>1310</locationY>
        <assignmentItems>
            <assignToReference>QuoteNewUnitCostsSale</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_New_Quote_Lines_Sale.SBQQ__UnitCost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteNewUnitSellingPrice</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_New_Quote_Lines_Sale.SBQQ__NetTotal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteSellingPrice1NewUnit</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_New_Quote_Lines_Sale.Building_Selling_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteSellingPrice2NewUnit</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_New_Quote_Lines_Sale.Building_Selling_Price_2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteSellingPrice3NewUnit</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_New_Quote_Lines_Sale.Building_Selling_Price_3__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteSellingPrice4NewUnit</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_New_Quote_Lines_Sale.Building_Selling_Price_4__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteSellingPrice5NewUnit</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_New_Quote_Lines_Sale.Building_Selling_Price_5__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewUnitVendors</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewUnitQuoteLineSaleVendor</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_New_Quote_Lines_Sale</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Infleet_New_Rental</name>
        <label>Infleet/New - Rental</label>
        <locationX>555</locationX>
        <locationY>994</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Infleet_Rental</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Unit__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>New Unit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Unit__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>New Carry On</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Unit__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Infleet_Records_Rental</targetReference>
            </connector>
            <label>Infleet - Rental</label>
        </rules>
        <rules>
            <name>New_Rental</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Unit__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Unit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_New_Records_Rental</targetReference>
            </connector>
            <label>New - Rental</label>
        </rules>
    </decisions>
    <decisions>
        <name>Infleet_New_Sale</name>
        <label>Infleet/New - Sale</label>
        <locationX>1010</locationX>
        <locationY>1000</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Infleet_Sale</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Unit__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>New Unit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Unit__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>New Carry On</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Unit__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Infleet_Records_Sale</targetReference>
            </connector>
            <label>Infleet - Sale</label>
        </rules>
        <rules>
            <name>New_Sale</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Unit__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Unit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_New_Records_Sale</targetReference>
            </connector>
            <label>New - Sale</label>
        </rules>
    </decisions>
    <decisions>
        <name>Transaction_Type</name>
        <label>Transaction Type</label>
        <locationX>795</locationX>
        <locationY>864</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Rental</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetQuote.Transaction_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rental</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Infleet_New_Rental</targetReference>
            </connector>
            <label>Rental</label>
        </rules>
        <rules>
            <name>Sale</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetQuote.Transaction_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sale</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Infleet_New_Sale</targetReference>
            </connector>
            <label>Sale</label>
        </rules>
    </decisions>
    <decisions>
        <name>Unit_is_New</name>
        <label>Unit is New?</label>
        <locationX>776</locationX>
        <locationY>371</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Unit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Unit__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Unit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Required_By_to_True</targetReference>
            </connector>
            <label>New Unit</label>
        </rules>
        <rules>
            <name>In_Fleet_Unit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Unit__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>New Unit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Unit__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>New Carry On</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Unit__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Required_By_to_false</targetReference>
            </connector>
            <label>In-Fleet Unit</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>BuildingMarkupS</name>
        <dataType>Number</dataType>
        <expression>(({!GetQuote.Final_Infleet_Selling_Price__c}+{!GetQuote.Final_New_Unit_Selling_Price__c}) - ({!GetQuote.In_fleet_Capped_Costs_S__c}+{!GetQuote.New_Capped_Costs_S__c}))/({!GetQuote.In_fleet_Capped_Costs_S__c}+{!GetQuote.New_Capped_Costs_S__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>InfleetQuoteLineRentalVendor</name>
        <dataType>String</dataType>
        <expression>{!Loop_through_Infleet_Quote_Lines_Rental.Vendor__c}&amp; &apos;, &apos;</expression>
    </formulas>
    <formulas>
        <name>InfleetQuoteLineSaleVendor</name>
        <dataType>String</dataType>
        <expression>{!Loop_through_Infleet_Quote_Lines_Sale.Vendor__c}&amp; &apos;, &apos;</expression>
    </formulas>
    <formulas>
        <name>InfleetVendorsFormula</name>
        <dataType>String</dataType>
        <expression>LEFT({!InfleetVendors},LEN({!InfleetVendors})-2)</expression>
    </formulas>
    <formulas>
        <name>NewUnitQuoteLineRentalVendor</name>
        <dataType>String</dataType>
        <expression>{!Loop_through_New_Quote_Lines_Rental.Vendor__c}&amp; &apos;, &apos;</expression>
    </formulas>
    <formulas>
        <name>NewUnitQuoteLineSaleVendor</name>
        <dataType>String</dataType>
        <expression>{!Loop_through_New_Quote_Lines_Sale.Vendor__c}&amp; &apos;, &apos;</expression>
    </formulas>
    <formulas>
        <name>NewUnitVendorsFormula</name>
        <dataType>String</dataType>
        <expression>LEFT({!NewUnitVendors},LEN({!NewUnitVendors})-2)</expression>
    </formulas>
    <interviewLabel>New Unit Involved on Quote Line {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Unit Involved on Quote Line and Calculations</label>
    <loops>
        <name>Loop_through_Infleet_Quote_Lines_Rental</name>
        <label>Loop through Infleet Quote Lines Rental</label>
        <locationX>382</locationX>
        <locationY>1329</locationY>
        <collectionReference>Get_Infleet_Records_Rental</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Perform_Calculations_Infleet_Rental</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Quote_Infleet_Rental</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Infleet_Quote_Lines_Sale</name>
        <label>Loop through Infleet Quote Lines Sale</label>
        <locationX>1028</locationX>
        <locationY>1314</locationY>
        <collectionReference>Get_Infleet_Records_Sale</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Perform_Calculations_Infleet_Sale</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Quote_Infleet_Sale</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_New_Quote_Lines_Rental</name>
        <label>Loop through New Quote Lines - Rental</label>
        <locationX>576</locationX>
        <locationY>1322</locationY>
        <collectionReference>Get_New_Records_Rental</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Perform_Calculation_New_Rental</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Quote_New_Rental</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_New_Quote_Lines_Sale</name>
        <label>Loop through New Quote Lines - Sale</label>
        <locationX>1213</locationX>
        <locationY>1311</locationY>
        <collectionReference>Get_New_Records_Sale</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Perform_Calculations_New_Sale</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Quote_New_Sale</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Infleet_Records_Rental</name>
        <label>Get Infleet Records Rental</label>
        <locationX>382</locationX>
        <locationY>1148</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Infleet_Quote_Lines_Rental</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Infleet_Unit_Involved__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Infleet_Records_Sale</name>
        <label>Get Infleet Records Sale</label>
        <locationX>1020</locationX>
        <locationY>1159</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Infleet_Quote_Lines_Sale</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Infleet_Unit_Involved__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Records_Rental</name>
        <label>Get New Records Rental</label>
        <locationX>568</locationX>
        <locationY>1165</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_New_Quote_Lines_Rental</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>New_Unit_Involved__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Records_Sale</name>
        <label>Get New Records Sale</label>
        <locationX>1211</locationX>
        <locationY>1161</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_New_Quote_Lines_Sale</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>New_Unit_Involved__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetQuote</name>
        <label>GetQuote</label>
        <locationX>804</locationX>
        <locationY>690</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transaction_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Quote_Infleet_Rental</name>
        <label>Update Quote Infleet Rental</label>
        <locationX>382</locationX>
        <locationY>1576</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetQuote.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Final_Infleet_List_Price__c</field>
            <value>
                <elementReference>QuoteInfleetListPriceFinal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>In_Fleet_Capped_Costs_L__c</field>
            <value>
                <elementReference>QuoteInfleetUnitCosts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Infleet_Building_Vendors__c</field>
            <value>
                <elementReference>InfleetVendorsFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Infleet_List_Prices_1__c</field>
            <value>
                <elementReference>QuoteInfleetListPrice1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Infleet_List_Prices_2__c</field>
            <value>
                <elementReference>QuoteInfleetListPrice2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Infleet_List_Prices_3__c</field>
            <value>
                <elementReference>QuoteInfleetListPrice3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Infleet_List_Prices_4__c</field>
            <value>
                <elementReference>QuoteInfleetListPrice4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Infleet_List_Prices_5__c</field>
            <value>
                <elementReference>QuoteInfleetListPrice5</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monthly_Payment_for_Infleet_Units__c</field>
            <value>
                <elementReference>QuoteInfleetMonthlyPayments</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quote_Infleet_Sale</name>
        <label>Update Quote Infleet Sale</label>
        <locationX>1026</locationX>
        <locationY>1578</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetQuote.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Final_Infleet_Selling_Price__c</field>
            <value>
                <elementReference>QuoteInfleetSellingPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>In_fleet_Capped_Costs_S__c</field>
            <value>
                <elementReference>QuoteInfleetUnitCostsSale</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Infleet_Building_Vendors__c</field>
            <value>
                <elementReference>InfleetVendorsFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Infleet_Selling_Price_1__c</field>
            <value>
                <elementReference>QuoteSellingPrice1Infleet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Infleet_Selling_Price_2__c</field>
            <value>
                <elementReference>QuoteSellingPrice2Infleet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Infleet_Selling_Price_3__c</field>
            <value>
                <elementReference>QuoteSellingPrice3Infleet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Infleet_Selling_Price_4__c</field>
            <value>
                <elementReference>QuoteSellingPrice4Infleet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Infleet_Selling_Price_5__c</field>
            <value>
                <elementReference>QuoteSellingPrice5Infleet</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quote_New_Rental</name>
        <label>Update Quote New Rental</label>
        <locationX>577</locationX>
        <locationY>1576</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetQuote.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Final_New_Unit_List_Price__c</field>
            <value>
                <elementReference>QuoteNewUnitListPriceFinal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monthly_Payment_for_New_Units__c</field>
            <value>
                <elementReference>QuoteNewMonthlyPayments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Building_Vendors__c</field>
            <value>
                <elementReference>NewUnitVendorsFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Capped_Costs_L__c</field>
            <value>
                <elementReference>QuoteNewUnitCosts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_List_Prices_1__c</field>
            <value>
                <elementReference>QuoteNewUnitListPrice1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_List_Prices_2__c</field>
            <value>
                <elementReference>QuoteNewUnitListPrice2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_List_Prices_3__c</field>
            <value>
                <elementReference>QuoteNewUnitListPrice3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_List_Prices_4__c</field>
            <value>
                <elementReference>QuoteNewUnitListPrice4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_List_Prices_5__c</field>
            <value>
                <elementReference>QuoteNewUnitListPrice5</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quote_New_Sale</name>
        <label>Update Quote New Sale</label>
        <locationX>1235</locationX>
        <locationY>1571</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetQuote.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Final_New_Unit_Selling_Price__c</field>
            <value>
                <elementReference>QuoteNewUnitSellingPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Building_Vendors__c</field>
            <value>
                <elementReference>NewUnitVendorsFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Capped_Costs_S__c</field>
            <value>
                <elementReference>QuoteNewUnitCostsSale</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Unit_Selling_Price_1__c</field>
            <value>
                <elementReference>QuoteSellingPrice1NewUnit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Unit_Selling_Price_2__c</field>
            <value>
                <elementReference>QuoteSellingPrice2NewUnit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Unit_Selling_Price_3__c</field>
            <value>
                <elementReference>QuoteSellingPrice3NewUnit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Unit_Selling_Price_4__c</field>
            <value>
                <elementReference>QuoteSellingPrice4NewUnit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Unit_Selling_Price_5__c</field>
            <value>
                <elementReference>QuoteSellingPrice5NewUnit</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Required_By_to_false</name>
        <label>Update Required By to false</label>
        <locationX>1059</locationX>
        <locationY>463</locationY>
        <connector>
            <targetReference>GetQuote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__RequiredBy__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Infleet_Unit_Involved__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Unit_Involved__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>SBQQ__QuoteLine__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Required_By_to_True</name>
        <label>Update Required By to True</label>
        <locationX>512</locationX>
        <locationY>479</locationY>
        <connector>
            <targetReference>GetQuote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__RequiredBy__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Infleet_Unit_Involved__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Unit_Involved__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>SBQQ__QuoteLine__c</object>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Unit_is_New</targetReference>
        </connector>
        <filterLogic>1 AND 3 AND (2 OR 4 OR 5 OR 6)</filterLogic>
        <filters>
            <field>SBQQ__RequiredBy__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__ProductName__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>UNIT</stringValue>
            </value>
        </filters>
        <filters>
            <field>Quote_Record_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Vanguard,Energy Services,BD Workforce,BD Lodging,BD Energy,BD Disaster,AUS</stringValue>
            </value>
        </filters>
        <filters>
            <field>Required_By_Product__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Complex</stringValue>
            </value>
        </filters>
        <filters>
            <field>Unit__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Vendor__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>SBQQ__QuoteLine__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>InfleetVendors</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewUnitVendors</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>QuoteInfleetListPrice1</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>QuoteInfleetListPrice2</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>QuoteInfleetListPrice3</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>QuoteInfleetListPrice4</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>QuoteInfleetListPrice5</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>QuoteInfleetListPriceFinal</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>QuoteInfleetMonthlyPayments</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>QuoteInfleetSellingPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>QuoteInfleetUnitCosts</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>QuoteInfleetUnitCostsSale</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>QuoteNewMonthlyPayments</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>QuoteNewUnitCosts</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>QuoteNewUnitCostsSale</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>QuoteNewUnitListPrice1</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>QuoteNewUnitListPrice2</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>QuoteNewUnitListPrice3</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>QuoteNewUnitListPrice4</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>QuoteNewUnitListPrice5</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>QuoteNewUnitListPriceFinal</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>QuoteNewUnitSellingPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>QuoteSellingPrice1Infleet</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>QuoteSellingPrice1NewUnit</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>QuoteSellingPrice2Infleet</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>QuoteSellingPrice2NewUnit</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>QuoteSellingPrice3Infleet</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>QuoteSellingPrice3NewUnit</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>QuoteSellingPrice4Infleet</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>QuoteSellingPrice4NewUnit</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>QuoteSellingPrice5Infleet</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>QuoteSellingPrice5NewUnit</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
